:root {
    /*--spacing-outer: 14px;*/
}

/* ================================ *\
    # body layout
\* ================================ */

body {
    display: grid;
    grid: auto 1fr auto / 1fr 40%;
    grid-template-areas:
        "global-header global-header"
        "global-main global-aside"
        "global-footer global-footer";
    column-gap: 0;
}

.blog-navigation-container > article {
    flex-basis: calc(50% - 15px);
}

/* blog navigation buttons */
.blog-navigation-nav {
    justify-content: center;
}
.blog-navigation-nav-next {
    flex-grow: 0;
}
