/* ================================ *\
    # defaults
\* ================================ */

:root {
    font-size: 10px;
}

/* ================================ *\
    # header area
\* ================================ */

#global-header menu {
    font-size: 18px;
}

/* ================================ *\
    # main content
\* ================================ */

.blog-navigation-container article {
    width: 48%;
}
.blog-navigation nav {
    padding: 0 1.5%;
}
.blog-navigation-nav-next {
    flex: 0;
}
.blog-content blockquote {
    margin-left: 20px;
    margin-right: 20px;
    font-size: larger
}

/* ================================ *\
    # footer
\* ================================ */

.footer-contact-card {
    font-size: 100%;
}

.footer-notes {
    display: grid;
    grid: auto / 1fr 1.3fr;
}

.footer-notes-secondary {
    font-size: 100%;
}